---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedArticles from "@utils/getSortedArticles";
import { SOCIALS } from "@config";

const articles = await getCollection("blog");

const sortedArticles = getSortedArticles(articles);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header activeNav="home" />
  <main id="main-content">
    <section id="hero">
      <h1>About</h1>
      <p>
        I specialize in building things for the web. I am currently working as a
        Software engineer at <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="https://sigtech.io"
        >
          Sigtech,
        </LinkButton> working on refining their product in the fintech domain.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    <section id="recent-articles">
      <h1>Articles</h1>
      <ul>
        {
          sortedArticles.map(
            ({ data, slug }, index) =>
              index < 4 && (
                <Card
                  href={`/articles/${slug}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/articles">
          All articles
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-6 sm:text-4xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply mb-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-articles {
    @apply pb-6 pt-6;
  }

  #recent-articles h1 {
    @apply text-3xl font-bold tracking-wide sm:text-4xl;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
@utils/getSortedArticles
